#register-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/images/login-background.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#register-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 590px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-emotes {
    margin-top: 45px;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 700;
}

#register-header {
    margin-top: 30px;
    font-family: Rubik;
    font-weight: 700;
    font-size: 40px;
    color: #223346;
}

#register-subheader {
    margin-top: 10px;
    font-family: Capriola;
    font-weight: 400;
    font-size: 20px;
    color: #22334633;
}

.register-input {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 80px;
}

.register-input-top {
    margin-bottom: 6px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.register-input-top-text {
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    color: #223346;
}

.register-input-login {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: none;
    background-color: #eeeff1;
    padding-left: 16px;
    font-family: Capriola;
    font-weight: 400;
    font-size: 16px;
    color: #223346cc;
    box-sizing: border-box;
}

.register-input-login:focus {
    outline: none;
}

#register-button-main {
    width: 377px;
    height: 60px;
    border-radius: 6px;
    background-color: #47bdff;
    border: none;
    font-family: Capriola;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

#register-button-main {
    cursor: pointer;
}

#register-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 377px;
    margin-top: 15px;
}

#login-section {
    margin-top: 15px;
    display: flex;
}

#login-section-text {
    font-family: Capriola;
    font-weight: 400;
    font-size: 16px;
    color: #223346;
}

#login-section-link {
    font-family: Capriola;
    font-weight: 400;
    font-size: 16px;
    color: #47bdff;
    margin-left: 6px;
    text-decoration: underline;
}

#login-section-link:hover {
    cursor: pointer;
}
