@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Comfortaa&family=Rubik:wght@500&display=swap");

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    --toastify-font-family: "Rubik";
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note-main,
.task-main {
    user-select: none;
}

.form-error-text {
    font-family: Rubik;
    font-weight: 500;
    font-size: 14px;
    color: #ff0000;
}

.dot {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: red;
    margin-right: 1px;
    margin-left: 5px;
}
